.dropdown-element {
  border: 1px solid $black;
  border-radius: 0;

  .ab-dropdown__selected {
    border: none;
    height: auto;
    line-height: 1;
  }

  .ab-dropdown__items {
    border-radius: 0;
  }

  .select__item {
    border-radius: 0;
  }

  .select__items {
    border: 1px solid $palette-neutral-800;
  }

  .ab-dropdown__toggle-icon {
    color: $black;
  }

  .element--read-only & {
    pointer-events: none;
    user-select: none;
  }
}

.dropdown-element--error {
  border-color: $color-error-300;
}
